<!DOCTYPE html>
<html>
  <head>
    <title>{{poet}}-汉语现代诗歌库</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <h3 style="text-align: center; margin-bottom: 20px">
      The Project In
      <a href="https://github.com/sheepzh/poetry" target="_blank">Github.com</a>
    </h3>

    <div style="margin-left: 40%; margin-top: 20px">
      {% for title in list %}
      <li class="title">
        <a href="/poet/{{poet}}/poem/{{title}}" target="_blank">{{title}}</a>
      </li>
      {% endfor %}
    </div>
  </body>
  <style>
    .title {
      margin: 10px;
      font-size: 13px;
    }
  </style>
</html>
